@import "@/styles/varColors.scss";

.bottom-fixed-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 15px;
  margin-bottom: 10px;

  border-top: solid 2px $grayLight;
  background-color: $white;
}

.bottom-fixed-menu__ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bottom-fixed-menu__li {

}

.bottom-fixed-menu__link {
  color: $sea;
  text-decoration: none;
}

.bottom-fixed-menu__link-icon {
  font-size: 2rem;
}
